.nav-bar {
     background-color: white;
     border-radius: 5px;
}
.header {
     display: inline-block;
     margin-right: 30px;
}
.nav-links {
     text-decoration: none;
     color: black;
     margin-right: 10px;
}
